COMMON_DEBUG=False

# Django
SECRET_KEY=CHANGEME!!!

# PostgreSQL
POSTGRES_DB=postgres_db
POSTGRES_PASSWORD=mysecretpass
POSTGRES_USER=postgresuser

# Bot
TG_TOKEN=token
TG_PROXY_URL=proxy
TG_HOUR=8
RG_MINUTE=15